<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.seu.alumni">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- 欢迎界面 -->
        <activity android:name=".activity.WelcomeActivity"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主活动 -->
        <activity android:name=".activity.MainActivity"
            android:theme="@style/ActivityTheme">
        </activity>

        <!-- 注册 -->
        <activity android:name=".activity.RegisterActivity"
            android:theme="@style/ActivityTheme">
        </activity>

        <!-- 实时通信模块、推送 START -->
        <service android:name="com.avos.avoscloud.PushService" />
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->


        <!-- 反馈组件 START -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity"
            android:theme="@style/ActivityTheme"/>
        <!-- 反馈组件 END -->


        <!-- test START-->
        <activity android:name="thirdpart.leancloud.MyLeanCloudDemoMainActivity"
            android:theme="@style/ActivityTheme"/>
        <activity android:name="thirdpart.leancloud.ConversationListActivity"
            android:theme="@style/ActivityTheme"/>
        <!-- test END-->

    </application>

</manifest>
